* {
  background-color: #000000;
  justify-content: center;
 }

 
h1 {
  color: whitesmoke;
  font-size: 80px;
  text-align: center;
}

div{
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 18px;
  color: black;
   
}
