  
* {
  margin: 0;
  padding: 0;
}

.footer-container {
  background-color: #ffffff;
  background-image: url("https://user-images.githubusercontent.com/72266712/113496045-adc78600-94c3-11eb-8260-b489e0625bb2.png");
  font-variant: small-caps;
  text-align: right;
  margin-bottom: none;
  margin-top: 10%;
  padding-top: 20px;
  background-blend-mode:darken;
  text-shadow: #ffffff 4px 4px 7px;
  font-size: 20px;
}
.footerimg {
  width: 50px;
  height: 50px;
  border-radius: 50%; 
}




